# Created by https://www.toptal.com/developers/gitignore/api/python,django,pycharm
# Edit at https://www.toptal.com/developers/gitignore?templates=python,django,pycharm

### Project ###

data/*
!data/municipios_ibge.csv
.idea/*

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo

# Django stuff:

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# profiling data
.prof

### PyCharm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/artifacts
# .idea/compiler.xml
# .idea/jarRepositories.xml
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### PyCharm Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# SonarQube Plugin
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Markdown Navigator plugin
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-enhanced
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

# Cache file creation bug
# See https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# CodeStream plugin
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

### Python ###
# Byte-compiled / optimized / DLL files

# C extensions

# Distribution / packaging

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.

# Installer logs

# Unit test / coverage reports

# Translations

# Django stuff:

# Flask stuff:

# Scrapy stuff:

# Sphinx documentation

# PyBuilder

# Jupyter Notebook

# IPython

# pyenv

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.

# PEP 582; used by e.g. github.com/David-OConnor/pyflow

# Celery stuff

# SageMath parsed files

# Environments

# Spyder project settings

# Rope project settings

# mkdocs documentation

# mypy

# Pyre type checker

# pytype static type analyzer

# profiling data

# End of https://www.toptal.com/developers/gitignore/api/python,django,pycharm
vaccine_card/core/static/admin/css/autocomplete.css

vaccine_card/core/static/admin/css/base.css

vaccine_card/core/static/admin/css/changelists.css

vaccine_card/core/static/admin/css/dashboard.css

vaccine_card/core/static/admin/css/fonts.css

vaccine_card/core/static/admin/css/forms.css

vaccine_card/core/static/admin/css/login.css

vaccine_card/core/static/admin/css/nav_sidebar.css

vaccine_card/core/static/admin/css/responsive_rtl.css

vaccine_card/core/static/admin/css/responsive.css

vaccine_card/core/static/admin/css/rtl.css

vaccine_card/core/static/admin/css/vendor/select2/LICENSE-SELECT2.md

vaccine_card/core/static/admin/css/vendor/select2/select2.css

vaccine_card/core/static/admin/css/vendor/select2/select2.min.css

vaccine_card/core/static/admin/css/widgets.css

vaccine_card/core/static/admin/fonts/LICENSE.txt

vaccine_card/core/static/admin/fonts/README.txt

vaccine_card/core/static/admin/fonts/Roboto-Bold-webfont.woff

vaccine_card/core/static/admin/fonts/Roboto-Light-webfont.woff

vaccine_card/core/static/admin/fonts/Roboto-Regular-webfont.woff

vaccine_card/core/static/admin/img/calendar-icons.svg

vaccine_card/core/static/admin/img/gis/move_vertex_off.svg

vaccine_card/core/static/admin/img/gis/move_vertex_on.svg

vaccine_card/core/static/admin/img/icon-addlink.svg

vaccine_card/core/static/admin/img/icon-alert.svg

vaccine_card/core/static/admin/img/icon-calendar.svg

vaccine_card/core/static/admin/img/icon-changelink.svg

vaccine_card/core/static/admin/img/icon-clock.svg

vaccine_card/core/static/admin/img/icon-deletelink.svg

vaccine_card/core/static/admin/img/icon-no.svg

vaccine_card/core/static/admin/img/icon-unknown-alt.svg

vaccine_card/core/static/admin/img/icon-unknown.svg

vaccine_card/core/static/admin/img/icon-viewlink.svg

vaccine_card/core/static/admin/img/icon-yes.svg

vaccine_card/core/static/admin/img/inline-delete.svg

vaccine_card/core/static/admin/img/LICENSE

vaccine_card/core/static/admin/img/README.txt

vaccine_card/core/static/admin/img/search.svg

vaccine_card/core/static/admin/img/selector-icons.svg

vaccine_card/core/static/admin/img/sorting-icons.svg

vaccine_card/core/static/admin/img/tooltag-add.svg

vaccine_card/core/static/admin/img/tooltag-arrowright.svg

vaccine_card/core/static/admin/js/actions.js

vaccine_card/core/static/admin/js/actions.min.js

vaccine_card/core/static/admin/js/admin/DateTimeShortcuts.js

vaccine_card/core/static/admin/js/admin/RelatedObjectLookups.js

vaccine_card/core/static/admin/js/autocomplete.js

vaccine_card/core/static/admin/js/calendar.js

vaccine_card/core/static/admin/js/cancel.js

vaccine_card/core/static/admin/js/change_form.js

vaccine_card/core/static/admin/js/collapse.js

vaccine_card/core/static/admin/js/collapse.min.js

vaccine_card/core/static/admin/js/core.js

vaccine_card/core/static/admin/js/inlines.js

vaccine_card/core/static/admin/js/inlines.min.js

vaccine_card/core/static/admin/js/jquery.init.js

vaccine_card/core/static/admin/js/nav_sidebar.js

vaccine_card/core/static/admin/js/popup_response.js

vaccine_card/core/static/admin/js/prepopulate_init.js

vaccine_card/core/static/admin/js/prepopulate.js

vaccine_card/core/static/admin/js/prepopulate.min.js

vaccine_card/core/static/admin/js/SelectBox.js

vaccine_card/core/static/admin/js/SelectFilter2.js

vaccine_card/core/static/admin/js/urlify.js

vaccine_card/core/static/admin/js/vendor/jquery/jquery.js

vaccine_card/core/static/admin/js/vendor/jquery/jquery.min.js

vaccine_card/core/static/admin/js/vendor/jquery/LICENSE.txt

vaccine_card/core/static/admin/js/vendor/select2/i18n/af.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ar.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/az.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/bg.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/bn.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/bs.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ca.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/cs.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/da.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/de.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/dsb.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/el.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/en.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/es.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/et.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/eu.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/fa.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/fi.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/fr.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/gl.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/he.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/hi.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/hr.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/hsb.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/hu.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/hy.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/id.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/is.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/it.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ja.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ka.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/km.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ko.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/lt.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/lv.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/mk.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ms.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/nb.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ne.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/nl.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/pl.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ps.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/pt-BR.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/pt.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ro.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/ru.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/sk.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/sl.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/sq.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/sr-Cyrl.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/sr.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/sv.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/th.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/tk.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/tr.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/uk.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/vi.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/zh-CN.js

vaccine_card/core/static/admin/js/vendor/select2/i18n/zh-TW.js

vaccine_card/core/static/admin/js/vendor/select2/LICENSE.md

vaccine_card/core/static/admin/js/vendor/select2/select2.full.js

vaccine_card/core/static/admin/js/vendor/select2/select2.full.min.js

vaccine_card/core/static/admin/js/vendor/xregexp/LICENSE.txt

vaccine_card/core/static/admin/js/vendor/xregexp/xregexp.js

vaccine_card/core/static/admin/js/vendor/xregexp/xregexp.min.js

vaccine_card/core/static/rest_framework/css/bootstrap-theme.min.css

vaccine_card/core/static/rest_framework/css/bootstrap-tweaks.css

vaccine_card/core/static/rest_framework/css/bootstrap.min.css

vaccine_card/core/static/rest_framework/css/default.css

vaccine_card/core/static/rest_framework/css/font-awesome-4.0.3.css

vaccine_card/core/static/rest_framework/css/prettify.css

vaccine_card/core/static/rest_framework/docs/css/base.css

vaccine_card/core/static/rest_framework/docs/css/highlight.css

vaccine_card/core/static/rest_framework/docs/css/jquery.json-view.min.css

vaccine_card/core/static/rest_framework/docs/img/favicon.ico

vaccine_card/core/static/rest_framework/docs/img/grid.png

vaccine_card/core/static/rest_framework/docs/js/api.js

vaccine_card/core/static/rest_framework/docs/js/highlight.pack.js

vaccine_card/core/static/rest_framework/docs/js/jquery.json-view.min.js

vaccine_card/core/static/rest_framework/fonts/fontawesome-webfont.eot

vaccine_card/core/static/rest_framework/fonts/fontawesome-webfont.svg

vaccine_card/core/static/rest_framework/fonts/fontawesome-webfont.ttf

vaccine_card/core/static/rest_framework/fonts/fontawesome-webfont.woff

vaccine_card/core/static/rest_framework/fonts/glyphicons-halflings-regular.eot

vaccine_card/core/static/rest_framework/fonts/glyphicons-halflings-regular.svg

vaccine_card/core/static/rest_framework/fonts/glyphicons-halflings-regular.ttf

vaccine_card/core/static/rest_framework/fonts/glyphicons-halflings-regular.woff

vaccine_card/core/static/rest_framework/fonts/glyphicons-halflings-regular.woff2

vaccine_card/core/static/rest_framework/img/glyphicons-halflings-white.png

vaccine_card/core/static/rest_framework/img/glyphicons-halflings.png

vaccine_card/core/static/rest_framework/img/grid.png

vaccine_card/core/static/rest_framework/js/ajax-form.js

vaccine_card/core/static/rest_framework/js/bootstrap.min.js

vaccine_card/core/static/rest_framework/js/coreapi-0.1.1.js

vaccine_card/core/static/rest_framework/js/csrf.js

vaccine_card/core/static/rest_framework/js/default.js

vaccine_card/core/static/rest_framework/js/jquery-3.5.1.min.js

vaccine_card/core/static/rest_framework/js/prettify-min.js
