{% extends 'default/base.html' %}

{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% endblock %}

{% block content %}
    <form method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <strong>{{ title }}</strong>
                    </div>
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-check"></i> Enviar
                        </button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Limpar</button>
                    </div>
                </div>
            </div>

            {% if form_aux %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>{{ form_aux_title }}</strong>
                        </div>
                        <div class="card-body">
                            {{ form_aux.as_p }}
                        </div>

                    </div>
                </div>
            {% endif %}

        </div>
    </form>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/select2.min.js' %}"></script>

    <script>
        $(function () {
            $('select').select2();
        });
    </script>
{% endblock %}
